body {
  margin: 0;
  padding: 0;
  color: black;
}

.infoBar {
  background-color: rgb(32,32,32);
  text-align: center;
  color: rgb(220,220,220);
  padding: 15px;
  font-size: 0.75em;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}

.detailBar {
  background-color: rgb(245,245,245);
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 0.75em;
  font-weight: 200;
  letter-spacing: 1px;
}

.headerBar {
  text-align: center;
  padding-top: 20px;
}

.headerBar #corpLogo {
  width: auto;
}

.headerBar p {
  font-size: 1em;
}

nav {
  background-color: transparent;
  color: black;
  box-shadow: none;
  border-bottom: 1px solid gray;
}

.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {
  color: black;
}

nav ul a {
  color: black;
}

.material-icons {
  font-size: 1em;
}

.homeImg {
  height: 300px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url("./assets/images/diamondScope.jpg");
  background-position: center;
  background-size: cover;
}