body {
  margin: 0;
  padding: 0;
  color: black;
}

.infoBar {
  background-color: rgb(32,32,32);
  text-align: center;
  color: rgb(220,220,220);
  padding: 15px;
  font-size: 0.85em;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}

.detailBar {
  background-color: rgb(245,245,245);
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 0.85em;
  font-weight: 200;
  letter-spacing: 1px;
}

.headerBar {
  text-align: center;
  padding-top: 50px;
}

.headerBar #corpLogo {
  width: auto;
}

.headerBar p {
  font-size: 1em;
}

.logo {
  padding-bottom: 50px;
}

nav {
  background-color: black;
  color: white;
  box-shadow: none;
  border-bottom: 1px solid gray;
}

nav ul a {
  color: white;
}

.material-icons {
  font-size: 1em;
}

.homeImg {
  height: 300px;
  border-top: 1px solid black;
  background-image: url("./assets/images/mixedDiamonds.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.homeSection1, .homeSection2 {
  text-align: center;
  padding: 30px;
}

.homeSection1 p, .homeSection2 p {
  text-align: left;
}
.divider {
  width: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.midImg {
  height: 500px;
  background-image: url("./assets/images/yellowDiamonds.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.lowerImg {
  height: 500px;
  background-image: url("./assets/images/customJewellery.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.diamondTitle {
  color: black;
}

.eduDiamCard {
  min-height: 550px;
  max-height: auto;
}

.card-image {
  padding: 20px;
}

.homeSection2 .card-content {
  min-height: 250px;
}

.modal {
  padding: 20px;
}

.modal-content {
  border: 2px solid rgb(51, 51, 51);
}